/*
font-family: 'Pacifico', cursive;
font-family: 'Raleway', sans-serif;
*/

body {
   font-family: 'Raleway', sans-serif; 
}

.main {
    background: url('../img/background.jpg') no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.font-fancy {
    font-family: 'Pacifico', cursive;
}

.title {
    color: #000000;
}

.lead-text {
    font-size: 1.6em;
    color: #353508;
}

.wrapper-style {
    background-color: #F5F5DC;
    border-radius: 1em;
}

.footer-style {
    background-color:#252525;
    height: 9.5em;
    padding: 20px;
    
}

.footer-item {
    color: rgb(250, 249, 249);
    font-size: 1.5em;
}

.map-style {
    margin-top: 2em; 
    border-radius: 5px;
    background-color: black;
}

div#map {
    max-height: 720px;
}

.card {
    border-radius: 10px;
}

#map {
    min-height: 720px !important;
    min-width: 720px !important;
}

.listings .item {
    display:block;
    border-bottom:1px solid #eee;
    padding:10px;
    text-decoration:none;
}

.listings .item:last-child {
    border-bottom:none; 
}

.listings .item .title {
    display:block;
    color:#00853e;
    font-weight:700;
}

.listings .item .title small {
    font-weight:400; 
}

.listings .item.active .title,
.listings .item .title:hover {
     color:#8cc63f; 
     }

.listings .item.active {
    background-color:#f8f8f8;
}

::-webkit-scrollbar {
    width:3px;
    height:3px;
    border-left:0;
    background:rgba(0,0,0,0.1);
}

::-webkit-scrollbar-track {
    background:none;
}

::-webkit-scrollbar-thumb {
    background:#00853e;
    border-radius:0;
}

.marker {
  border: none;
  cursor: pointer;
  height: 28px;
  width: 28px;
  background-image: url('../img/marker.png');
  background-color: rgba(0, 0, 0, 0);
}

.clearfix { display:block; }

.clearfix:after {
    content:'.';
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
}

.mapboxgl-popup {
    padding-bottom: 50px;
}

.mapboxgl-popup-close-button {
    display:none;
}

.mapboxgl-popup-content {
    font:400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding:0;
    width:180px;
}

.mapboxgl-popup-content-wrapper {
    padding:1%;
}

.mapboxgl-popup-content h4 {
    color: #fff;
    margin: 0;
     padding: 10px;
     border-radius: 5px 5px 0 0;
}

.mapboxgl-popup-content p {
    margin:0;
    padding: 5px 10px 10px 10px;
}

.mapboxgl-popup-content div {
    padding:10px;
}

.mapboxgl-container .leaflet-marker-icon {
    cursor:pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #91c949;
}

.map-list {
    max-height: 720px;
}